html,
body {
  height: 100%;
  background-image: url(https://img.freepik.com/free-photo/anime-style-clouds_23-2151071780.jpg?t=st=1711776543~exp=1711780143~hmac=7b146e3be47b9db2db59402cb008ab727add1eb905b5cfafb5e7da554f000a8c&w=1380);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 300px;
  align-items: center;
  border-right: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
p {
  font-family: sans-serif, monospace;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: left;
}

.tabs {
  text-align: center;
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 20px 10px 60px;
  tab-size: 50px;
  opacity: 0.7;
}

button {
  font-size: 25px;
  font-family: sans-serif, monospace;
}

.about-section {
  position: relative;
  background: rgb(191, 171, 224);
  padding: 20px 20px 20px 20px;
  margin: auto;
  min-width: 150px;
  max-width: 500px;
}

.intro {
  border-color: 1px solid black;
  text-align: center;
  background-color: rgb(191, 171, 224);
}

.flex-wrapper {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 50px;
}

.container img {
  object-fit: contain;
  min-width: 200px;
  max-width: 500px;
}
@media only screen and (max-width: 480px) {
  img {
    width: 20%;
  }
  body {
    margin-right: 20px;
    margin-left: 20px;
  }
}
